extend layout

block content
    .row
        .col-sm-6
            form.form(action="/", method="POST")
                .form-group
                    .input-group
                        input.form-control(type="text", name="name", required)
                        span.input-group-btn
                            button.btn.btn-primary(type="submit") Create task
    h2 To do:
    .alert.alert-danger(style="display:none") Task deleted
    if tasks.length > 1
        p
            a#alldone.btn.btn-success(href="/alldone")
                i.glyphicon.glyphicon-ok 
                |  Mark all as completed
    if !tasks.length
        p No tasks
    ul.list-group
        each task in tasks
            if !task.completed
                li.list-group-item
                    a.btn.btn-danger.pull-right.js-delete(href="/?id="+task._id, title="Delete task")
                        i.glyphicon.glyphicon-trash
                    a.btn.btn-success.pull-left.js-complete(href="/?id="+task._id, title="Mark as completed")
                        i.glyphicon.glyphicon-ok
                    .task-desc
                        | #{task.name}
                        em #{moment(task.createdDate).format('MMMM Do YYYY, h:mm a')}
